@model BakeryManager.BackOffice.Models.Login.AlterarSenhaModel

@{
    ViewBag.Title = "Alterar Senha";
}


<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">&nbsp;</a>
                </li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginForm("AlterarSenha", "Login", FormMethod.Post, new { id = "frmAlterarSenha", data_messageType = "modal", @class = "form-horizontal", rule = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(x => x.SenhaAtual, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6">
                        @Html.PasswordFor(x => x.SenhaAtual, new { @class = "form-control",  placeHolder = "Informe sua Senha Atual" })
                        @Html.ValidationMessageFor(m => m.SenhaAtual)
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.NewPassword, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6">
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", placeHolder = "Informe sua nova Senha" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ConfirmNewPassword, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-6">
                        @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control",  placeHolder = "Confirme a nova Senha Informada" })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnAtualizarSenha" class="btn btn-primary">
                            Atualizar
                        </button>
                        Ou
                        <button type="button" id="btnCancelar" onClick="history.back(-1);" class="btn btn-default">
                            Cancelar
                        </button>
                    </div>
                </div>
                
            }
        </div>
    </div>

</div>

@section scripts{

<script src="~/Scripts/crypto/sha256.js"></script>
<script src="~/Scripts/crypto/enc-base64-min.js"></script>
<script src="~/Scripts/utils.js"></script>
<script type="text/javascript">


    $(function () {
        $("#btnAtualizarSenha").click(function () {

            if ($("#frmAlterarSenha").valid()) {

                if (!validarFormatoPassword($("#NewPassword").val(), $("#ConfirmNewPassword").val(), true, $("#SenhaAtual").val())) {
                    return;
                }

                var senhaAtualHash = CryptoJS.SHA256($("#SenhaAtual").val());
                var senhaAtual = senhaAtualHash.toString(CryptoJS.enc.Base64);

                var novaSenhaHash = CryptoJS.SHA256($("#NewPassword").val());
                var novaSenha = novaSenhaHash.toString(CryptoJS.enc.Base64);

                var confirmaSenhaHash = CryptoJS.SHA256($("#ConfirmNewPassword").val());
                var confirmaSenha = confirmaSenhaHash.toString(CryptoJS.enc.Base64);


                $.ajax({

                    url: '@Url.Action("AlterarSenha")',
                    method: "POST",
                    dataType: "json",
                    data: {
                        SenhaAtual: senhaAtual,
                        NovaSenha: novaSenha,
                        ConfirmarSenha: confirmaSenha
                    },

                    success: function (data) {

                        if (data.TipoMensagem == 1)
                            alert(data.Mensagem, null, data.TipoMensagem);
                        else
                            alert("Alteração Realizada com sucesso!", function () {
                                window.location.href = '@Url.Action("Index","Home")';
                            }, 3);
                        

                    },
                    error: function (data) {

                        alert(data.Mensagem,null,data.TipoMensagem);

                    }


                });

            }

        });
    });

</script>


}