@using BakeryManager.BackOffice.Models.Pedido

@model PedidoModel

@{
    ViewBag.Title = "Alterar Pedido Nº " + Model.NumeroPedido + "";
}



<div class="container-fluid">


    @*Header*@
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-table"></i>  <a href="@Url.Action("Index","Home")">Pedidos</a>
                </li>

                <li class="active">
                    <i class="fa fa-file"></i> @ViewBag.Title
                </li>
            </ol>
        </div>
    </div>
    @* --------------- *@


    <div class="row">

        @Html.Partial("Form", Model)


    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <hr />
                <button class="btn btn-primary" type="button" id="btnSalvar">Salvar</button>
                Ou
                <button class="btn btn-default" onclick="window.history.back(-1);">Cancelar</button>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    var validator = $("#frmDadosGerais").kendoValidator().data("kendoValidator");

    

    $(function () {

        $("#TipoPedido").data("kendoDropDownList").value(@Model.TipoPedido.IdTipoPedido);
        $("#Cliente").data("kendoDropDownList").value(@Model.Cliente.IdCliente);
        $("#CondicaoPagamento").data("kendoDropDownList").value(@Model.CondicaoPagamento.IdCondicaoPagamento);
        $("#TipoContato").data("kendoDropDownList").value(@Model.TipoContato.IdTipoContato);
        $("#FuncionarioContato").data("kendoDropDownList").value(@Model.FuncionarioContato.IdFuncionario);

        $("#btnSalvar").click(function (evt) {

            evt.preventDefault();

            var ListaProduto = $("#gridProduto").data("kendoGrid").dataSource.data()
            if (ListaProduto.length == 0) {
                alert("Informe ao menos um produto!", null, 1);
                return;
            }


            if (validator.validate()) {

                var formPedido = getFormPedido();

                $.ajax({

                    url: '@Url.Action("Edit")',
                    method: "POST",
                    data: { strPedido: JSON.stringify(formPedido) },
                    success: function (data) {

                        if (data.TipoMensagem == 1)
                            alert(data.Mensagem, null, 1);
                        else {
                            var ListaProduto = $("#gridProduto").data("kendoGrid").dataSource.data();
                            var ListaMaterial = $("#gridMaterialAdicional").data("kendoGrid").dataSource.data();


                            $.ajax({

                                url: '@Url.Action("AtualizarProdutoMaterialAdicional")',
                                method: "POST",
                                dataType: "json",
                                data: {
                                    ListaProduto: JSON.stringify(ListaProduto),
                                    ListaMateraial: JSON.stringify(ListaMaterial),
                                    IdPedido: data.IdPedido
                                },
                                success: function(data1){

                                    var mensagem = data1.Mensagem;

                                    if (data1.TipoMensagem == 1)
                                        alert(mensagem, null, 1);
                                    else {
                                       
                                        alert(mensagem, function () {
                                            window.location.href = '@Url.Action("Index","Home")';
                                        }, data1.TipoMensagem);
                                    }
                                }

                            });

                        }


                    }

                });
            }
        });



    });
</script>