@using Kendo.Mvc.UI
@using BakeryManager.BackOffice.Models.Pedido



<div class="row">
    <div class="col-lg-12 col-md-12 colsd-12">
        <ul class="nav nav-tabs" data-tabs="tabs" role="tablist">
            <li role="presentation" class="active"><a href="#encaminhados" aria-controls="encaminhados" role="tab" data-toggle="tab">Encaminhados</a></li>
            <li role="presentation"><a href="#aguardandoproducao" aria-controls="aguardandoproducao" role="tab" data-toggle="tab">Aguardando Inicio da Produção</a></li>
            <li role="presentation"><a href="#emproducao" aria-controls="emproducao" role="tab" data-toggle="tab">Em Produção</a></li>

        </ul>
        <div class="tab-content" style="padding-top: 20px">
            <div class="tab-pane fade in active" role="tabpanel" id="encaminhados">

            </div>
            <div class="tab-pane fade" role="tabpanel" id="aguardandoproducao">

            </div>
            <div class="tab-pane fade" role="tabpanel" id="emproducao">

            </div>

        </div>
        
    </div>
    
</div>


<div id="mdlView" />
<div id="mdlCancelamento" />


<script type="text/javascript">

    function GetIdPedido() {
        return {
            IdPedido: $("#IdPedido").val()
        }
    }

    function VisualizarPedido(IdPedido) {

        $.ajax({

            url: '@Url.Action("GetViewPedido", "ManterPedidos")',
            data: { IdPedido: IdPedido },
            success: function (data) {

                $("#mdlView").html(data);
                $("#gridProdutoView").data("kendoGrid").dataSource.read();
                $("#gridMaterialAdicionalView").data("kendoGrid").dataSource.read();
                $('a[data-toggle="tab"]').tab();

                $("#mdlView").kendoWindow({
                    width: "800px",
                    title: "Dados do Pedido",
                    visible: false,
                    actions: [

                    "Minimize",
                    "Maximize",
                    "Close"
                    ]
                }).data("kendoWindow").center().open();
            }

        });

    }

    function popUpCancelamento(IdPedido) {

        $.ajax({
            url: '@Url.Action("PopCancelamento", "ManterPedidos")',
            method: "POST",
            data: {
                IdPedido: IdPedido
            },
            success: function (data) {

                if (data.TipoMensagem == 1)
                    alert(data.Mensagem, null, 1)
                else {
                    $("#mdlCancelamento").html(data);
                    $("#mdlCancelamento").kendoWindow({
                        width: "800px",
                        visible: false,
                        title: "Cancelar Pedido",
                        actions: [

                        "Minimize",
                        "Maximize",
                        "Close"
                        ]
                    }).data("kendoWindow").center().open();

                }
            }
        });

    }


    function cancelarPedido(IdPedido) {

        var PedidoCancelamentoModel = {
            IdPedido: IdPedido,
            TextoCancelamento: $("#TextoCancelamento").data("kendoEditor").value(),
            IdTipoCancelamento: $("#TipoCancelamento").val()
        };

        $.ajax({
            url: '@Url.Action("CancelarPedido", "ManterPedidos")',
            method: "POST",
            data: {
                PedidoCancelamento: PedidoCancelamentoModel
            },
            success: function (data) {

                if (data.TipoMensagem == 1)
                    alert(data.Mensagem, null, 1)
                else
                    window.location.href = "@Url.Action("Index", "Home")";
            }
        });
    }




</script>

@Html.Partial("~/Views/ManterPedidos/Scripts/ScriptPedidoEncaminhado.cshtml")

@Html.Partial("~/Views/ManterPedidos/Scripts/ScriptPedidoAguardandoInicioProducao.cshtml")

@Html.Partial("~/Views/ManterPedidos/Scripts/ScriptEmProducao.cshtml")

