@using BakeryManager.BackOffice.Models.Cadastros.Clientes
@model ClienteModel

@{
    ViewBag.Title = "Alterar Cliente";
}

<div class="container-fluid">

    @*Header*@
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-table"></i>  <a href="@Url.Action("Index","Home")">Cadastros</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Clientes
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> @ViewBag.Title
                </li>
            </ol>
        </div>
    </div>
    @* --------------- *@

    @*Body*@
    <div class="row">

        <ul class="nav nav-tabs" data-tabs="tabs">
            <li role="presentation" class="active"><a href="#dadosgerais" data-toggle="tab">Dados Gerais</a></li>
            <li role="presentation"><a href="#contatos" data-toggle="tab">Contatos</a></li>
        </ul>

        @Html.AntiForgeryToken()


        @Html.Partial("Form", Model)


    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <hr />
                <button class="btn btn-primary" type="button" id="btnSalvar">Salvar</button>
                Ou
                <button class="btn btn-default" onclick="window.history.back(-1);">Cancelar</button>

            </div>
        </div>
    </div>

    @* --------------- *@




</div>


@section scripts {


    <script type="text/javascript">




    $(function () {

        var validator = $("#frmCliente").kendoValidator().data("kendoValidator");




        $("#CondicaoPagamentoPreferencial").data("kendoDropDownList").value(@Model.CondicaoPagamentoPreferencial.IdCondicaoPagamento);
        $("#TipoCliente").data("kendoDropDownList").value(@Model.TipoCliente.IdTipoCliente);
        TipoClienteChange();


        $("#btnSalvar").click(function (evt) {

            evt.preventDefault();

            if (validator.validate()) {


                var form = getFormObject();

                $.ajax({

                    url: '@Url.Action("Editar")',
                    dataType: 'json',
                    method: 'POST',
                    data: { strCliente: JSON.stringify(form) },

                    success: function (data) {
                        if (data.TipoMensagem == 1)
                            alert(data.Mensagem, null, 1);
                        else {
                            var listaConatos = $("#gridContatos").data("kendoGrid").dataSource.view().toJSON();

                            $.ajax({
                                url: "@Url.Action("AtualizarContatos")",
                                dataType: "json",
                                method: "POST",
                                data: {
                                    contatos: listaConatos,
                                    IdCliente: data.IdCliente
                                },
                                success: function (data) {

                                    if (data.TipoMensagem == 1)
                                        alert(data.Mensagem, null, 1);
                                    else
                                        alert(data.Mensagem, function () {
                                            window.location.href = '@Url.Action("Index")';
                                        }, data.TipoMensagem);

                                }

                            });
                        }
                    }

                });
            }

        });

    });



    </script>



}
