<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Delicia Di Pane</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Panificadora, Pão, Doces, Padaria" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
    <script src="js/simpleCart.min.js"> </script>
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
</head>
<body>
    <div class="header">
        <div class="header-top-strip">
            <div class="container">
                <div class="header-top-left">
                    <ul>
                        <li><a href="account.html"><span class="glyphicon glyphicon-user"> </span>Login</a></li>
                        <li><a href="register.html"><span class="glyphicon glyphicon-lock"> </span>Criar Conta</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <div class="cart box_1">
                        <a href="checkout.html">
                            <h3> <span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)<img src="images/bag.png" alt=""></h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Esvazir Carrinho</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="inner-banner">
        <div class="container">
            <div class="banner-top inner-head">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <!--/.navbar-header-->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Inicio</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produtos <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>PRODUTO 1</h6>
                                                <li><a href="products.html">t1</a></li>
                                                <li><a href="products.html">t2</a></li>
                                                <li><a href="products.html">t3</a></li>
                                                <li><a href="products.html">t4</a></li>
                                                <li><a href="products.html">t5</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>PRODUTO 2</h6>
                                                <li><a href="products.html">t1</a></li>
                                                <li><a href="products.html">t2</a></li>
                                                <li><a href="products.html">t3</a></li>
                                                <li><a href="products.html">t4</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>PRODUTO 3</h6>
                                                <li><a href="products.html">t1</a></li>
                                                <li><a href="products.html">t2</a></li>
                                                <li><a href="products.html">t3</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>SERVIÇO 1</h6>
                                                <li><a href="products.html">t1</a></li>
                                                <li><a href="products.html">t2</a></li>
                                                <li><a href="products.html">t3</a></li>
                                                <li><a href="products.html">t4</a></li>
                                                <li><a href="products.html">t5</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>SERVIÇO 2</h6>
                                                <li><a href="products.html">t1</a></li>
                                                <li><a href="products.html">t2</a></li>
                                                <li><a href="products.html">t3</a></li>
                                                <li><a href="products.html">t4</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>SERVIÇO 3</h6>
                                                <li><a href="products.html">t1</a></li>
                                                <li><a href="products.html">t2</a></li>
                                                <li><a href="products.html">t3</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="contact.html">CONTATO</a></li>
                        </ul>
                    </div>
                    <!--/.navbar-collapse-->
                </nav>
                <!--/.navbar-->
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="footer_top">
                <div class="span_of_4">
                    <div class="col-md-3 span1_of_4">
                        <h4>Produtos</h4>
                        <ul class="f_nav">
                            <li><a href="#">Tipo de Produto 1</a></li>
                            <li><a href="#">Tipo de Produto 2</a></li>
                            <li><a href="#">Tipo de Produto 3</a></li>
                            <li><a href="#">Tipo de Produto 4</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 span1_of_4">
                        <h4>Serviços</h4>
                        <ul class="f_nav">
                            <li><a href="#">Tipo de Serviço 1</a></li>
                            <li><a href="#">Tipo de Serviço 2</a></li>
                            <li><a href="#">Tipo de Serviço 3</a></li>
                            <li><a href="#">Tipo de Serviço 4</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 span1_of_4">
                        <h4>Conta</h4>
                        <ul class="f_nav">
                            <li><a href="account.html">login</a></li>
                            <li><a href="register.html">Criar Conta</a></li>
                            <li><a href="checkout.html">Meu Carrinho de Compras</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="cards text-center">
                <img src="images/cards.jpg" alt="" />
            </div>
            <div class="copyright text-center">
                <p>© 2016 Delicia Di Pane</a></p>
            </div>
        </div>
    </div>
    
</body>
</html>
