@model IEnumerable<BakeryManager.BackOffice.Models.Cadastros.Ingredientes.IngredienteTabelaNutricionalModel>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Tabela Nutricional para o Ingreditente <strong>@(string.IsNullOrWhiteSpace(Model.FirstOrDefault().Ingrediente.Nome) ? Model.FirstOrDefault().Ingrediente.NomeTACO : Model.FirstOrDefault().Ingrediente.Nome)</strong></h4>
        </div>
        <div class="modal-body">




            <table class="table table-striped">
                <caption>
                    <p>@Html.LabelFor(model => model.FirstOrDefault().Ingrediente.CodigoTACO): @Html.DisplayFor(model => model.FirstOrDefault().Ingrediente.CodigoTACO)</p>
                    @if (!string.IsNullOrWhiteSpace(Model.FirstOrDefault().Ingrediente.Nome))
                    {
                        <p>@Html.LabelFor(model => model.FirstOrDefault().Ingrediente.NomeTACO): @Html.DisplayFor(model => model.FirstOrDefault().Ingrediente.NomeTACO)</p>
                    }
                </caption>
                <thead>
                    <tr>
                        <th>Componente</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var comp in Model)
                {
                    <tr>
                        <td>@comp.ComponenteNutricional.Nome</td>
                        <td>@comp.Valor.ToString("#0.00") @comp.ComponenteNutricional.UnidadeMedida</td>
                    </tr>

                }
                </tbody>
            </table>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>
