


@if (User.Identity.IsAuthenticated)
{

    @*<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <label id="lblNome">&nbsp;</label><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("AlterarSenha","Login")"><i class="fa fa-fw fa-user"></i> Alterar Senha</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-envelope"></i> Mensagens</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-gear"></i> Configuração</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" id="lnkLogOut"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
            </li>
        </ul>
    </li>*@

    
        <!-- /.navbar-header -->

        
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"> <label id="lblNome">&nbsp;</label></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="@Url.Action("AlterarSenha","Login")"><i class="fa fa-fw fa-user"></i> Alterar Senha</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Mensagens</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Configuração</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" id="lnkLogOut"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
       

        <script type="text/javascript">
            //Esta função está no arquivo de script HelpersJS.js
            $(function () {

                if (window.localStorage.nomeUsuarioLogado == undefined || window.localStorage.nomeUsuarioLogado == "") {

                    $.getJSON('@Url.Action("GetLoginInformation", "Shared")',
                              function (data) {
                                  if (data.Login == "Error") {
                                      window.location.href = '@Url.Action("Index","Login")';
                                  }
                                  else {
                                      setUserLogedData(data.Nome, data.Login, data.Atribuicao);
                                      $("#lblNome").text(window.localStorage.nomeUsuarioLogado);
                                  }
                              });
                }


                $("#lblNome").text(window.localStorage.nomeUsuarioLogado);

            });


            $("#lnkLogOut").click(function () {
                window.localStorage.removeItem("nomeUsuarioLogado");
                window.localStorage.removeItem("loginUsuarioLogado");
                window.localStorage.removeItem("atribuicaoUsuarioLogado");
                window.location.href = '@Url.Action("LogOut","Login")';
            });

        </script>

        }

        else
        {
        <li><a href="@Url.Action("Index","Login")" class="navbar-brand"><b>Login</b></a></li>
        }

