
<li>
    <a href="#"><i class="fa fa-table fa-fw"></i> Cadastros<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#"><i class="#"></i> Ingredientes<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index","CadastroCategoriaIngredientes")">Categorias</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","CadastroIngredientes")">Ingredientes</a>
                </li>

            </ul>
            <a href="#"><i class="#"></i> Produtos<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index","CadastroCategoriaProduto")">Categorias</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","CadastroProduto")">Produto</a>
                </li>

            </ul>
            <a href="#"><i class="#"></i> Fornecedores<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="@Url.Action("Index", "CadastroFornecedor")">Cadastro Geral</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","AvaliacaoFornecedor")">Avaliação</a>
                </li>

            </ul>
            <a href="#"><i class="#"></i> Clientes<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Index","CadastroCliente")">Cadastro Geral</a>
                </li>
            </ul>
        </li>

    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Receituário<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">

        <li>
            <a href="@Url.Action("Index","ManterReceituario")">Manter Receitas</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Simulador")">Simulador de Pedidos</a>
        </li>
        <li>
            <a href="@Url.Action("Index","VisualizarTabelaNutricional")">Tabela Nutricional</a>
        </li>

    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-bookmark fa-fw"></i> Pedidos de Venda<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">

        <li>
            <a href="@Url.Action("Index","CadastrarTipoPedido")">Tipo de Pedido</a>
        </li>
        <li>
            <a href="@Url.Action("Index","CadastrarMaterialAdicional")">Material Adicional</a>
        </li>
        <li>
            <a href="@Url.Action("Index","PreConfiguracaoTipoPedido")">Pré-Configurar Material Adicional Por Tipo de Pedido</a>
        </li>

    </ul>
    <!-- /.nav-second-level -->
</li>
<li>
    <a href="#"><i class="fa fa-tasks fa-fw"></i> Produção<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">

        <li>
            <a href="@Url.Action("Index","ProducaoPorPedido")">Visão por Pedido</a>
        </li>
        <li>
            <a href="@Url.Action("Index","ProducaoPorProduto")">Visão por Produtos</a>
        </li>

    </ul>
</li>
