@using BakeryManager.BackOffice.Models;
@model ParametrosModel
@using BakeryManager.BackOffice.Models.Cadastros;
@using Kendo.Mvc.UI

<div class="row">
    <div class="col-md-12">

        <div class="col-md-5">
            <div class="panel panel-danger ">
                <div class="panel-heading">
                    <h3 class="panel-title">Componentes Fora da Visualização</h3>
                </div>
                <div class="panel-body CustomPanelHeight">
                    <ul id="listaSemExibicao" style="min-height: 110px;">
                        @foreach (var comp in ((IEnumerable<TabelaNutricionalModel>)ViewData["ListaTabelaNaoExibicao"]).ToList())
                        {
                            <li class="list-item" data-IdTabelaNutricional="@comp.IdTabelaNutricionalModel">@comp.Nome</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-offset-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Componentes Selecionados para Visualização</h3>
                </div>
                <div class="panel-body CustomPanelHeight">
                    <ul id="listaExibicao" style="min-height: 110px;">
                        @foreach (var comp in Model.ParametrosNutricionais)
                        {
                            <li class="list-item" data-IdTabelaNutricional="@comp.Compoonente.IdTabelaNutricionalModel">@comp.Compoonente.Nome</li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>



    @Html.Kendo().Sortable().For("#listaSemExibicao").ConnectWith("#listaExibicao").PlaceholderHandler("placeholder").Cursor("url('" + Url.Content("~/content/Imagens/grabbing.cur") + "'), default")
    @Html.Kendo().Sortable().For("#listaExibicao").ConnectWith("#listaSemExibicao").PlaceholderHandler("placeholder").Cursor("url('" + Url.Content("~/content/Imagens/grabbing.cur") + "'), default")


</div>


<script type="text/javascript">
    function placeholder(element) {
        return $("<li class='list-item' id='placeholder'>Solte aqui!</li>");
    }


</script>