@using BakeryManager.BackOffice.Models;
@model ParametrosModel
@using BakeryManager.BackOffice.Models.Cadastros;
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Manter Parâmetros Gerais";
}

<style>
    .CustomPanelHeight {
        height: 350px;
        overflow: auto;
        /*width: 210px;*/
        min-height: 40px;
        margin: 0;
        padding: 0;
        border: 1px solid #dddddd;
        border-radius: 4px;
    }

        .CustomPanelHeight ul {
            padding: 0 10px 0 10px;
        }

    .list-item {
        list-style-type: none;
        margin: 1px;
        line-height: 25px;
        background-color: #222222;
        color: #ffffff;
        border-radius: 3px;
        padding-left: 8px;
        cursor: grab, default;
    }

    #listaSemExibicao .list-item {
        background-color: #ff879e;
        color: #000000;
    }

    #listaExibicao .list-item {
        background-color: #54b8fa;
        color: #000000;
    }

    #placeholder.list-item {
        background-color: #beb7b7;
        color: #777;
    }
</style>

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-table"></i>  <a href="@Url.Action("Index","Home")">Configuração</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Manter Parâmetros
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-5">
                <div class="panel panel-danger ">
                    <div class="panel-heading">
                        <h3 class="panel-title">Componentes Fora da Visualização</h3>
                    </div>
                    <div class="panel-body CustomPanelHeight">
                        <ul id="listaSemExibicao" style="min-height: 110px;">
                            @foreach (var comp in ((IEnumerable<TabelaNutricionalModel>)ViewData["ListaTabelaNaoExibicao"]).ToList())
                            {
                                <li class="list-item" data-IdTabelaNutricional="@comp.IdTabelaNutricionalModel">@comp.Nome</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Componentes Selecionados para Visualização</h3>
                    </div>
                    <div class="panel-body CustomPanelHeight">
                        <ul id="listaExibicao" style="min-height: 110px;">
                            @foreach (var comp in Model.ParametrosNutricionais)
                            {
                                <li class="list-item" data-IdTabelaNutricional="@comp.Compoonente.IdTabelaNutricionalModel">@comp.Compoonente.Nome</li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>



        @Html.Kendo().Sortable().For("#listaSemExibicao").ConnectWith("#listaExibicao").PlaceholderHandler("placeholder").Cursor("url('" + Url.Content("~/content/Imagens/grabbing.cur") + "'), default")
        @Html.Kendo().Sortable().For("#listaExibicao").ConnectWith("#listaSemExibicao").PlaceholderHandler("placeholder").Cursor("url('" + Url.Content("~/content/Imagens/grabbing.cur") + "'), default")


    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><button type="button" class="btn btn-primary" id="btnSalvar">Salvar</button></li>
            </ol>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<script type="text/javascript">
    function placeholder(element) {
        return $("<li class='list-item' id='placeholder'>Solte aqui!</li>");
    }

    $(function () {

        $("#btnSalvar").click(function () {

                var listaExibicao = $("#listaExibicao").children();
                var listaEnvio = [];


                $.each(listaExibicao, function (index, listItem) {

                listaEnvio.push({
                    IdTabelaNutricionalModel: $(listItem).attr('data-IdTabelaNutricional'),
                    Nome: $(listItem).text(),
                    UnidadeMedida: ''
                });



                });

                $.ajax({
                    url: '@Url.Action("SalvarConfiguracao")',
                    data: { ListaComponentes: listaEnvio },
                    method: "POST",
                    dataType: "json",
                    success: function (data) {

                        alert(data.Mensagem, function () {
                            if (data.URLDestino != undefined)
                                window.location.href = data.URLDestino;
                        }, data.TipoMensagem);

                    }

                });


        });

    });

</script>
