@using Kendo.Mvc.UI
@using BakeryManager.BackOffice.Models.Pedido

@{
    ViewBag.Title = "Cadastro de Tipos de Pedido";
}

div class="container-fluid">
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewBag.Title
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-table"></i>  <a href="@Url.Action("Index","Home")">Pedidos</a>
            </li>
          
            <li class="active">
                <i class="fa fa-file"></i> @ViewBag.Title
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">



        @(Html.Kendo().Grid<TipoPedidoModel>()

            .Name("grid")
            .Columns(columns =>
            {
            columns.Bound(c => c.Descricao).Title("Descrição");
            columns.Bound(c => c.Ativo).Title("").Width(130).ClientTemplate("#if (Ativo) {#" +
                                                                                 "<a href=\"javascript: void(0); \" onclick=\"Desativar(#=IdTipoPedido#); \" class=\"btn btn-danger btn - sm\"><span class=\"glyphicon glyphicon-remove\" data-tooltip=\"Histórico de Desativação e Reativação\" ></span>&nbsp;Desativar</a>" +
                                                                                 "#} else {#" +
                                                                                 "<a href=\"javascript: void(0); \" onclick=\"Reativar(#=IdTipoPedido#); \" class=\"btn btn-primary btn - sm\"><span class=\"glyphicon glyphicon-repeat\" aria-hidden=\"true\"></span>&nbsp;&nbsp;&nbsp;Reativar</a>" +
                                                                                 "# }#");

            })

            .ToolBar(toolbar =>
            {
                toolbar.Create();
                toolbar.Save();
            })
                .Editable(editable => editable.Mode(GridEditMode.InCell).Window(w => w.Width(460)).DisplayDeleteConfirmation(false))
                .Pageable()
                .Sortable()
                .Scrollable(scr => scr.Height("auto"))
                .Navigatable()
                .Scrollable()
                .DataSource(ds => ds
                    .Ajax()
                    .PageSize(30)
                    .ServerOperation(true)
                    .Batch(true)
                    .Events(events => events.Error("error_handler"))
                    .Model(model =>
                    {

                        model.Id(p => p.IdTipoPedido);
                        model.Field(f => f.Descricao);
                        model.Field(f => f.Ativo).DefaultValue(true).Editable(false);

                    })
                    .Create(create => create.Action("Create", "CadastrarTipoPedido"))
                    .Update(update => update.Action("Edit", "CadastrarTipoPedido"))
                    .Read(read => read.Action("Read", "CadastrarTipoPedido")))

        )


    </div>
</div>

</div>

@section scripts {

<script type="text/javascript">


    function Desativar(IdProduto) {
        confirm("Deseja Ralmente Desativar este Tipo de Pedido?", function () {

            $.ajax({

                url: '@Url.Action("Desativar")',
                data: { Id: IdProduto },
                method: "POST",
                dataType: "json",
                success: function (data) {
                    alert(data.Mensagem, function () {
                        if (data.TipoMensagem == 3)
                            $("#grid").data("kendoGrid").dataSource.read();
                    }, data.TipoMensagem);
                }
            });

        }, 2);
    }


    function Reativar(IdProduto) {
        confirm("Deseja Ralmente Reativar este Tipo de Pedido?", function () {
            $.ajax({

                url: '@Url.Action("Reativar")',
                data: { Id: IdProduto },
                method: "POST",
                dataType: "json",
                success: function (data) {
                    alert(data.Mensagem, function () {
                        if (data.TipoMensagem == 3)
                            $("#grid").data("kendoGrid").dataSource.read();
                    }, data.TipoMensagem);
                }
            });
        }, 2);
    }
 </script>    
    
}