@model BakeryManager.BackOffice.Models.Cadastros.CadastroUsuarioModel
@using Kendo.Mvc.UI
@using BakeryManager.BackOffice.Models.Cadastros


@{
    ViewBag.Title = "Cadastro de Usuários";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-table"></i>  <a href="@Url.Action("Index","Home")">Cadastros</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Usuários
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">

            @*<div class="text-right">
                    <a href="@Url.Action("Create")" class="btn btn-default btn-sm">Criar Novo Perfil</a>
                </div>*@




            @(
                Html.Kendo().Grid<CadastroUsuarioModel>()

                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Nome).Title("Nome");
                    columns.Bound(c => c.Login).Title("Login");
                    columns.Bound(c => c.Perfil).ClientTemplate("#= Perfil.Nome #").Title("Perfil");

                    columns.Bound(c => c.Telefone).Title("Telefone");
                    columns.Bound(c => c.Email).Title("E-mail");
                    columns.Bound(c => c.Ativo).Title("Ativo?").Width("60")
                    .ClientTemplate(
                                      "# if (Ativo) { #" +
                                      "#= 'Sim' #" +
                                      "# } " + "else {#" + "#= 'Não'#" + "# }#"
                                  );

                    columns.Command(c =>
                    {
                        c.Edit().Text("Editar");
                    });

                    columns.Bound(c => c.Ativo).Title("").ClientTemplate("# if (Ativo) { #" +
                                  "<a href=\"javascript:void(0);\" onclick=\"Desativar(#=IdUsuario#);\" class=\"btn btn-danger btn-sm\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span>&nbsp;Desativar</a>" +
                                  "# } else {#" +
                                  "<a href=\"javascript:void(0);\" onclick=\"Reativar(#=IdUsuario#);\" class=\"btn btn-primary btn-sm\"><span class=\"glyphicon glyphicon-repeat\" aria-hidden=\"true\"></span>&nbsp;&nbsp;&nbsp;Reativar</a>" + "# }#");


                })

            .ToolBar(toolbar =>
            {
                toolbar.Create();
            })
                .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Cadastro").Window(w => w.Title("Cadastro do Usuário").Name("editUsuario").Width(435)))
                .Pageable()
                .Sortable()
                .Scrollable(scr => scr.Height("auto"))
                //.Events(e => e.DataBound("doDataBound"))
                .Navigatable()
                .Scrollable()
                .DataSource(ds => ds
                    .Ajax()
                    .PageSize(30)
                    .Events(events => events.Error("error_handler"))
                    .ServerOperation(false)
                    .Model(model =>
                    {

                        model.Id(p => p.IdUsuario);
                        model.Field(f => f.Nome);
                        model.Field(f => f.Login);
                        model.Field(f => f.Telefone);
                        model.Field(f => f.Email);
                        model.Field(f => f.Ativo).DefaultValue(true);
                        model.Field(f => f.AutenticaSenhaDia).DefaultValue(false);
                        model.Field(f => f.Perfil).DefaultValue(new CadastroPerfilModel() { Ativo = true });

                    })
                    .Create(create => create.Action("Create", "CadastroUsuarios").Type(HttpVerbs.Post))
                    .Read(read => read.Action("Read", "CadastroUsuarios").Type(HttpVerbs.Post))
                    .Update(update => update.Action("Edit", "CadastroUsuarios").Type(HttpVerbs.Post))
                    .Destroy(destroy => destroy.Action("Delete", "CadastroUsuarios").Type(HttpVerbs.Post))

                )
            )

        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section scripts
{


    <script type="text/javascript">
        /*function doDataBound(e) {


            //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

            //e.preventDefault();

            var dataView = $("#grid");
            for (var i = 0; i < dataView._data.length; i++) {


                var dataItem = dataView._data[i];
                var tr = $("#grid").find("[data-uid='" + dataItem.uid + "']");
                if (dataItem.Ativo) {
                    $(tr).find("#btnReativar").remove();
                } else {
                    $(tr).find("#btnDesativar").remove();
                }
            }


        } */

        function Desativar(IdUsuario) {
            confirm("Deseja realmente <strong>desativar</strong> este usuario?", function () {
                $.ajax({

                    url: '@Url.Action("Desativar")',
                    data: { pIdUsuario: IdUsuario },
                    method: "POST",
                    dataType: "json",
                    success: function () {
                        $("#grid").data('kendoGrid').dataSource.read();
                        //window.location.href = '@Url.Action("Index")';
                    }
                });
            })
        }

        function Reativar(IdUsuario) {
            confirm("Deseja realmente <strong>reativar</strong> este usuario?", function () {
                $.ajax({

                    url: '@Url.Action("Reativar")',
                    data: { pIdUsuario: IdUsuario },
                    method: "POST",
                    dataType: "json",
                    success: function () {
                        $("#grid").data('kendoGrid').dataSource.read();
                        //window.location.href = '@Url.Action("Index")';
                    }
                });
            })
        }


    </script>

}