
<a href="javascript:;" data-toggle="collapse" data-target="#MenuCadastro"><i class="fa fa-fw fa-table"></i> Cadastros <i class="fa fa-fw fa-caret-down"></i></a>
<ul id="MenuCadastro" class="collapse">
    <li>
        <a href="#" data-toggle="collapse" data-target="#MenuCadastroIngrediente">Ingredientes<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="MenuCadastroIngrediente" class="collapse">
            <li>
                <a href="@Url.Action("Index","CadastroCategoriaIngredientes")">Categorias</a>
                <a href="@Url.Action("Index","CadastroIngredientes")">Ingredientes</a>
            </li>
        </ul>
        <a href="#" data-toggle="collapse" data-target="#MenuCadastroProduto">Produtos<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="MenuCadastroProduto" class="collapse">
            <li>
                <a href="@Url.Action("Index","CadastroCategoriaProduto")">Categorias</a>
                <a href="@Url.Action("Index","CadastroProduto")">Produtos</a>
            </li>
        </ul>
        
        <a href="#" data-toggle="collapse" data-target="#MenuCadastroFornecedor">Fornecedores<i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="MenuCadastroFornecedor" class="collapse">
            <li>
                <a href="@Url.Action("Index","CadastroFornecedor")">Cadastro Geral</a>
                <a href="@Url.Action("Index","AvaliacaoFornecedor")">Avaliação</a>
            </li>
        </ul>
        <a href="@Url.Action("Index","CadastroCliente")">Clientes</a>
        
    </li>

</ul>
<a href="javascript:;" data-toggle="collapse" data-target="#MenuReceituario"><i class="fa fa-fw fa-edit"></i> Receituario <i class="fa fa-fw fa-caret-down"></i></a>
<ul id="MenuReceituario" class="collapse">
    <li>
        <a href="@Url.Action("Index","ManterReceituario")">Manter Receitas</a>

    </li>
    <li>
        <a href="@Url.Action("Index","Simulador")">Simulador de Pedidos</a>

    </li>
    

</ul>
<a href="javascript:;" data-toggle="collapse" data-target="#MenuPedidoVenda"><i class="fa fa-fw fa-edit"></i> Pedidos de Venda <i class="fa fa-fw fa-caret-down"></i></a>
<ul id="MenuPedidoVenda" class="collapse">
    <li>
        <a href="@Url.Action("Index","CadastrarTipoPedido")">Tipo de Pedido</a>
    </li>
    <li>
        <a href="@Url.Action("Index","CadastrarMaterialAdicional")">Material Adicional</a>
    </li>
    <li>
        <a href="@Url.Action("Index","PreConfiguracaoTipoPedido")">Pré-Configurar Material Adicional Por Tipo de Pedido</a>
    </li>
</ul>