<a href="javascript:;" data-toggle="collapse" data-target="#MenuGestaoAcesso"><i class="fa fa-fw fa-desktop"></i> Gestão de Acesso <i class="fa fa-fw fa-caret-down"></i></a>
<ul id="MenuGestaoAcesso" class="collapse">
    <li>
        <a href="@Url.Action("Index","CadastroPerfil")">Perfis</a>
    </li>
    <li>
        <a href="@Url.Action("Index","CadastroUsuarios")">Usuarios</a>
    </li>
    
</ul>

<a href="javascript:;" data-toggle="collapse" data-target="#MenuConfiguracao"><i class="fa fa-fw fa-wrench"></i> Configuração <i class="fa fa-fw fa-caret-down"></i></a>
<ul id="MenuConfiguracao" class="collapse">
    <li>
        <a href="@Url.Action("Index","ManterParametros")">Manter Parâmetros</a>
        <a href="@Url.Action("Index","ManterQuestionario")">Manter Questionários de Qualidade</a>
    </li>
</ul>
@Html.Partial("_MenuOperador")
