@using BakeryManager.BackOffice.Models.Cadastros.Fornecedores
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Cadastro de Fornecedores";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-table"></i>  <a href="@Url.Action("Index","Home")">Cadastros</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> @ViewBag.Title
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">

            @(Html.Kendo().Grid<FornecedorModel>()
                    .Name("grid")

                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Nome);
                        columns.Bound(c => c.Bairro);
                        columns.Bound(c => c.Cidade);
                        columns.Bound(c => c.UF);
                        columns.Bound(c => c.Ativo).ClientTemplate("<a href=\""+Url.Action("Editar")+ "/#=IdFornecedor#\"  class=\"btn btn-default btn-sm\"><span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\"></span>&nbsp;Editar</a>&nbsp;&nbsp;" +
                                                                    "#if (Ativo) {#" +
                                                                    "<a href=\"javascript: void(0); \" onclick=\"Desativar(#=IdFornecedor#); \" class=\"btn btn-danger btn-sm\"><span class=\"glyphicon glyphicon-remove\" data-tooltip=\"Histórico de Desativação e Reativação\" ></span>&nbsp;Desativar</a>" +
                                                                    "#} else {#" +
                                                                    "<a href=\"javascript: void(0); \" onclick=\"Reativar(#=IdFornecedor#); \" class=\"btn btn-primary btn-sm\"><span class=\"glyphicon glyphicon-repeat\" aria-hidden=\"true\"></span>&nbsp;&nbsp;&nbsp;Reativar</a>" +
                                                                    "# }#");
                    })
                    .ToolBar(t => t.Custom().Text("Novo Fornecedor").Url(Url.Action("Criar")).HtmlAttributes(new { @class = "k-button k-button-icontext k-grid-add" }))

                    .Pageable()
                    .Sortable()
                    .Filterable()
                    .Selectable()
                    .Navigatable()
                    .Scrollable(scr => scr.Height(450))

                    .DataSource(datasource => datasource
                        .Ajax()
                        .Batch(false)
                        .Model(model =>
                        {
                            model.Id(m => m.IdFornecedor);
                            model.Field(m => m.Nome);
                            model.Field(m => m.Bairro);
                            model.Field(m => m.Cidade);
                            model.Field(m => m.UF);
                        })
                        .Read(read => read.Action("Read", "CadastroFornecedor"))

                     )

               )

        </div>

    </div>

</div>


@section scripts{
    
<script type="text/javascript">

  
    function Desativar(IdFornecedor) {
        confirm("Deseja Ralmente Desativar este Fornecedor?", function () {

            $.ajax({

                url: '@Url.Action("Desativar")',
                data: { Id: IdFornecedor },
                method: "POST",
                dataType: "json",
                success: function (data) {
                    alert(data.Mensagem, function () {
                        if (data.TipoMensagem == 3)
                            $("#grid").data("kendoGrid").dataSource.read();
                    }, data.TipoMensagem);
                }
            });

        }, 2);
    }


    function Reativar(IdFornecedor) {
        confirm("Deseja Ralmente Reativar este Fornecedor?", function () {
            $.ajax({

                url: '@Url.Action("Reativar")',
                data: { Id: IdFornecedor },
                method: "POST",
                dataType: "json",
                success: function (data) {
                    alert(data.Mensagem, function () {
                        if (data.TipoMensagem == 3)
                            $("#grid").data("kendoGrid").dataSource.read();
                    }, data.TipoMensagem);
                }
            });
        }, 2);
    }


</script>    
    
}