@model BakeryManager.BackOffice.Models.Cadastros.CadastroIngredientesModel

@{
    ViewBag.Title = "Editar Ingrediente";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-table"></i>  <a href="@Url.Action("Index","Home")">Cadastros</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Ingredientes
                </li>
            </ol>
        </div>
    </div>

    <div class="row">

        <ul class="nav nav-tabs" data-tabs="tabs">
            <li role="presentation" class="active"><a href="#dadosgerais" data-toggle="tab">Dados Gerais</a></li>
            <li role="presentation"><a href="#tabelanutricional" data-toggle="tab">Tabela Nutricional</a></li>
        </ul>
        @Html.AntiForgeryToken()

        @using (Html.BeginForm("Editar", "CadastroIngredientes", FormMethod.Post, new { id = "frmEditar", @class = "form-horizontal " }))
        {


            @Html.Partial("Form", Model)


        }

        @*End row*@
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <hr />
                <button class="btn btn-primary" type="button" id="btnSalvar">Salvar</button>
                Ou
                <button class="btn btn-default" onclick="window.history.back(-1);">Cancelar</button>

            </div>
        </div>
    </div>


</div>


@section scripts {

    <script type="text/javascript">


        $(function () {

            $("#btnSalvar").click(function () {

                $.ajax({

                    url: '@Url.Action("Editar")',
                    data: $("form#frmEditar").serialize(),

                    method: "POST",
                    dataType: "json",
                    success: function (data) {

                        AtualizaTabelaNutricional(data);

                    }


                });

            });

        });
    </script>


}



